<div>
  <section>

    <div class='my-3'><h1>{{name}}</h1></div>

    <div class='my-3'>{{birthdate}} - {{birthplace}}</div>

    <div class='my-3'>{{deathdate}} - {{deathplace}}</div>

    <div class='my-3'>{{nationality}}</div>

    <hr class='my-5' />
    <div class='my-5'><strong>{{occupation}}</strong></div>

    <div class='my-3'><strong>{{known_for}}</strong></div>
  </section>
  <section>
    <div class='my-3'><strong>Education</strong></div>
    <ul class='ms-3'>
      {{#each education}}
        <li>
          {{degree}}
          {{field}}
          /
          {{institution}}
          -
          {{year}}

        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <div class='my-3'><strong>Publications</strong></div>
    <ul class='ms-3'>
      {{#each notable_publications}}
        <li>
          {{title}}
          /
          {{year}}
          /
          {{publisher}}
        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <div class='my-3'><strong>Partners</strong></div>
    <ul class='ms-3'>
      {{#each partners}}
        <li>
          {{name}}
          /
          {{relationship}}
          /
          {{years}}
        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <div class='my-3'><strong>Awards</strong></div>
    <ul class='ms-3'>
      {{#each awards}}
        <li>
          {{title}}
          /
          {{year}}
          /
          {{description}}
        </li>
      {{/each}}
    </ul>
  </section>

  <hr class='my-5' />
  <section>

    <div class='my-3'><em>Influences</em></div>

    <div class='my-3'>{{influences}}</div>

    <div class='my-3'><em>Influenced</em></div>

    <div class='my-3'>{{influenced}}</div>

    <div class='my-3'><em>Quotes</em></div>

    <div class='my-3'>{{quotes}}</div>

    <div class='my-3'><em>Discoveries</em></div>
    <ul class='ms-3'>
      {{#each major_discoveries}}
        <li>
          {{title}}
          /
          {{year}}
          /
          {{description}}
        </li>
      {{/each}}
    </ul>

    <div class='my-3'><em>Contributions</em></div>
    <ul class='ms-3'>
      {{#with contributions}}
        <li>
          {{title}}
          /
          {{description}}
          /
          {{year}}
          /
          {{field}}
        </li>
      {{/with}}
    </ul>
  </section>

</div>