<div>
    <div class="my-3">
        <h1>{{name}}</h1>
    </div>
    <div class="my-3">
        <strong>{{description}}</strong>
    </div>
    <div class="my-3">
        <em>Price: {{price}}</em>
    </div>
    <div class="my-3">
        <em>Category: {{category}}</em>
    </div>
  <hr  class="my-5"/>
  
    <section>
        {{> title data="Features" big=true}}
        <ul class="ms-3 my-3">
            {{#with features}}
            <li>
                Processor: {{#with processor}}
                {{brand}} {{model}} ({{speed}}, {{cores}}, {{cache}})
                {{/with}}
            </li>
            <li>
                Memory: {{#with memory}}
                {{type}} {{size}} ({{speed}})
                {{/with}}
            </li>
            <li>
                Storage: {{#with storage}}
                {{type}} {{size}}
                {{/with}}
            </li>
            <li>
                Display: {{#with display}}
                {{size}} {{technology}}
                ({{resolution}} {{color_space}} {{brightness}} {{refresh_rate}})
                {{/with}}
            </li>
            <li>
                Graphics: {{#with graphics}}
                {{brand}} {{model}} ({{memory}})
                {{/with}}
            </li>
            <li>
                Ports: 
                <ul class="ms-3 my-3">
                {{#each ports}}
                    <li>
                        {{type}} ({{count}})
                        {{#if features}}
                            <ul class="ms-3">
                            {{#each features}}
                                <li>{{this}}</li>
                            {{/each}}
                            </ul>  
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            </li>
            
            <li>
                Battery: {{#with battery}}
                {{type}} ({{capacity}} {{life}})
                {{/with}}
            </li>
            <li>
                Weight: {{weight}}
            </li>
            <li>
                Dimensions: {{#with dimensions}}
                {{height}} x {{width}} x {{depth}}
                {{/with}}
            </li>
            <li>
                Operating system: {{operating_system}}
            </li>
            <li> 
                Accessories: 
                <ul class="ms-3 my-3">
                {{#each accessories}}
                <li>{{name}} - {{price}}</li>
                {{/each}}
                </ul>
            </li>
            {{/with}}
        </ul>
  </section>
</div>