<main>
  <sector>
    <div class='mb-3'>
      {{#with navigation}}
        <div class='nav nav-tabs'>
          {{#each links}}
            <div class='nav-item'>
              <a
                href='{{href}}'
                class='text-primary nav-link'
              >{{text}}</a>
            </div>
          {{/each}}
          <div class='nav-item'>
            <a
              href='#'
              class='nav-link disabled'
            >Disabled</a>
          </div>
        </div>
      {{/with}}
    </div>
  </sector>

  <sector class='m-5'>
    {{#with newsBlock}}
      <h1 class='text-capitalize text-center'>{{title}}</h1>
      <div class='row'>
        {{#each cards}}
          <div class='col-3'>
            <div class='card m-1 p-2 text-bg-dark'>
              <div class='card-body'>
                <h6 class='card-title'>{{title}}

                  {{#if isTop}}
                    <span
                      class='badge text-bg-danger rounded-pill'
                    >Top</span>
                  {{/if}}

                  {{#if isNew}}
                    <span
                      class='badge text-bg-success rounded-pill'
                    >New</span>
                  {{/if}}

                </h6>
                <p>{{description}}</p>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    {{/with}}
  </sector>
</main>