<div>
    {{>title data="My web" big=true}}
    <section>
        <ul>
        {{#with web}}
       
            <li>
                {{#each languages}}
                <hr>
                
                <div><p>{{name}}</p></div>
                <br>
                
                <div>{{version}}</div>
                <br>
                {{description}}
                <br>
                
                    <ul>
                    {{#each elements}}
                    <li>
                        {{name}} - 
                        {{description}}
                        <br>
                        <ul>
                        {{#each attributes}}
                            <li>
                                {{name}}
                                <br>
                                {{description}}
                            </li>
                        {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                    </ul>
                <br>
                
                 <ul>
                    {{#each properties}}
                    <li>
                        {{name}} -
                        {{description}}
                        <br>
                        <ul>
                        {{#each values}}
                            <li>
                                {{value}}
                                <br>
                                {{description}}
                            </li>
                        {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                    </ul>
                <br>
                
                 <ul>
                    {{#each functions}}
                    <li>
                        {{name}} -
                        {{description}}
                        <br>
                        <ul>
                        {{#each parameters}}
                            <li>
                                {{name}} /
                                {{type}}
                                <br>
                                {{description}}
                            </li>
                        {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                    </ul>
                    

                {{/each}}
                
            </li>

        {{/with}}
        </ul>
    </section>
</div>