{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<main>
    {{#with main}}
        <div class="my-2 ms-3">
            {{> title data="Work history" big=true}}
        </div>
            <div class="my-2">
                <ul class="my-3">
                    {{#each works}}
                    <li>
                        <div class="my-3 ms-2">{{position}}</div>
                        
                        <div class="my-3 ms-2">
                            
                            {{duration.from}} - 
                            {{#if duration.to}} 
                                {{duration.to}} 
                            {{else}} 
                                (still working) 
                            {{/if}}
                        </div>
                        <div class="my-3 ms-2">
                            {{#if company.url}}
                                {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                                <b>{{company.name}}</b>
                            {{/if}}
                        </div>
                        <div class="my-4 ms-4"><strong> Projects ({{projectAmount}}) </strong></div>
                        <ul class="my-2 ms-5">
                            {{#each projects}}
                            <li>
                                <div class="mt-3 mb-2">
                                    {{> link text=name href=url blank=true noLine=true}}
                                </div>
                                
                                <p class="my-3">{{about}}</p>
                                
                                <div class="my-3">
                                    <b>Project stacks ({{stackAmount}})</b>
                                </div>
                                <div class="my-3">
                                    <ul>
                                        {{#each stacks}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="my-3">
                                    <b>Project awards ({{awardAmount}})</b>
                                </div>
                                <div class="my-3">
                                    <ul>
                                        {{#each awards}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
    {{/with}}

 </main>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}