            <div class="my-4">
            {{#if groups}}
                {{> title data="Groups" big=false}}
                <ul class="ms-3">
                    {{#each groups}}
                    <li>
                        {{name}}
                        <br>
                        {{description}}
                        <br>
                        Members:
                        <ul class="ms-3">
                        {{#each members}}
                            <li>
                                <h4>{{name}}</h4>
                                <em>{{gender}}</em> / 
                                <em>{{age}}</em>
                            </li>
                            <br>
                        {{/each}}
                        </ul>
                
                    </li>
                    {{/each}}
                </ul> 
            {{/if}}
            </div>