<div class='col-6 mt-2 g-2'>
  {{#with surname}}
    <label class='form-label'>{{label}}</label>
    <input
      class='form-control'
      placeholder='{{placeholder}}'
    />
    <div class='form-text'>{{caption}}</div>
  {{/with}}
</div>
<div class='col-6 mt-2 g-2'>
  {{#with name}}
    <label class='form-label'>{{label}}</label>
    <input
      class='form-control'
      placeholder='{{placeholder}}'
    />
    <div class='form-text'>{{caption}}</div>
  {{/with}}
</div>
<div class='col-6 mt-2 g-2'>
  {{#with phone}}
    <label class='form-label'>{{label}}</label>
    <input
      class='form-control'
      placeholder='{{placeholder}}'
    />
    <div class='form-text'>{{caption}}</div>
  {{/with}}
</div>
<div class='col-6 mt-2 g-2'>
  {{#with email}}
    <label class='form-label'>{{label}}</label>
    <input
      class='form-control'
      placeholder='{{placeholder}}'
    />
    <div class='form-text'>{{caption}}</div>
  {{/with}}
</div>